/**
 * SASS File: 		test.scss
 * Type: 			test
 * Author:        	Chris Humboldt
 * Last Edited:   	18 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Imports
// Global


// Imports
// ---------------------------------------------------------------------------------------
@import "blueplate";


// Global
// ---------------------------------------------------------------------------------------
html, body {
	@include no-spacing();
}
.limit {
	.row, .flex-row, .example, .input-row, .example-2 {
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 2px;
		background-color: lighten(#000, 90%);
	}

	.flex-row, .example, .input-row, .example-2 {
		[class *= "flex-"], .left, .middle, .right, .left-col, .right-col {
			margin: 2px;
			padding: 10px;
			text-align: center;
			background-color: lighten(#000, 95%);
		}
	}

	.example {
		@include flex-column();

		@include respond-to(large) {
			@include flex-row();

			.left, .middle, .right {
				@include flex(1);
			}
			.right {
				@include flex(3);
			}
		}
	}

	.example-2 {
		@include flex-column();

		@include respond-to(large) {
			@include flex-row();

			.left {
				@include flex(50%, true); // Set the second parameter to true to use percent based layout
			}
			.middle, .right {
				@include flex(25%, true); // Set the second parameter to true to use percent based layout
			}
		}
	}

	.input-row {
		@include flex-column();

		.left-col, .right-col {
			@include flex-row();

			input {
				@include flex(1);
				@include no-spacing();
				padding: 12px 3px;
				border: 1px solid lighten(#000, 80%);
				border-right: 0px;
			}
			button {
				@include no-spacing();
				padding: 0px 50px;
				border: 1px solid lighten(#000, 80%);
				border-left: 0px;
				background-color: lighten(#000, 90%);
			}
		}
		@include respond-to(large) {
			@include flex-row();

			.left-col, .right-col {
				@include flex(1);
			}
		}
	}
}